*.pyc
*.pdf
*.zip

experiments/*/
!experiments/prototypes
public_export
dist

docs/build
docs/source/modules.rst
docs/source/pytabkit.*

.coverage*

.idea
catboost_info
tab_bench_data
rtdl_checkpoints
examples/.ipynb_checkpoints

scripts/custom_paths.py
