adjustText>=1.0
autorank>=1.0
catboost>=1.2
dask[dataframe]>=2023
dill
fire
lightgbm>=4.1
matplotlib>=3.0
msgpack>=1.0
myst_parser>=3.0
numpy>=1.25,<2.0
openml>=0.14
openpyxl>=3.0
pandas>=2.0
patool>=1.0
probmetrics>=0.0.1
psutil>=5.0
pynvml>=11.0
pytest-cov>=4.0
pytest>=7.0
pytorch_lightning>=2.0
pyyaml>=5.0
ray>=2.8
requests>=2.0
scikit-learn>=1.3,<1.6
seaborn>=0.0.13
skorch>=0.15
sphinx>=7.0
sphinx_rtd_theme>=2.0
torch>=2.0,<2.6
torchmetrics>=1.2.1
tqdm
tueplots>=0.0.12
xgboost>=2.0
xlrd>=2.0