adjusttext==1.1.1
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.16
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
autorank==1.1.3
babel==2.15.0
baycomp==1.0.3
beautifulsoup4==4.12.3
bleach==6.1.0
catboost==1.2.5
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
configspace==0.7.1
contourpy==1.2.1
coverage==7.5.4
cycler==0.12.1
dask==2024.6.2
dask-jobqueue==0.8.5
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
distributed==2024.6.2
docutils==0.20.1
emcee==3.1.6
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
fastcore==1.5.48
fastjsonschema==2.20.0
filelock==3.15.4
fire==0.6.0
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.0
future==1.0.0
graphviz==0.20.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
hyperopt==0.2.7
idna==3.7
imagesize==1.4.1
importlib-metadata==8.0.0
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.26.0
ipywidgets==8.1.3
isoduration==20.11.0
jedi==0.19.1
jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-client==8.6.2
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server==2.14.1
jupyter-server-terminals==0.5.3
jupyterlab==4.2.3
jupyterlab-pygments==0.3.0
jupyterlab-server==2.27.2
jupyterlab-widgets==3.0.11
kditransform==0.2.0
kiwisolver==1.4.5
liac-arff==2.5.0
lightgbm==4.4.0
lightning-utilities==0.11.3.post0
llvmlite==0.43.0
locket==1.0.0
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.1
mdurl==0.1.2
minio==7.2.7
mistune==3.0.2
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
msgpack-numpy==0.4.8
multidict==6.0.5
myst-parser==3.0.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
notebook==7.2.1
notebook-shim==0.2.4
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
openml==0.14.2
openpyxl==3.1.4
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
patool==2.2.0
patsy==0.5.6
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
prometheus-client==0.20.0
prompt-toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==16.1.0
pycparser==2.22
pycryptodome==3.20.0
pygments==2.18.0
pynisher==1.0.10
pynvml==11.5.0
pyparsing==3.1.2
pyrfr==0.9.0
pytest==8.2.2
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytorch-lightning==2.3.0
pytz==2024.1
pyyaml==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
qtpy==2.4.1
ray==2.30.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.1
scikit-learn==1.5.0
scipy==1.14.0
seaborn==0.13.2
send2trash==1.8.3
setuptools==70.1.1
six==1.16.0
skorch==1.0.0
smac==2.1.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
statsmodels==0.14.2
sympy==1.12.1
tabulate==0.9.0
tblib==3.0.0
tenacity==8.4.2
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.3.0
tomli==2.0.1
toolz==0.12.1
torch==2.3.1
torchmetrics==1.4.0.post0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
triton==2.3.1
tueplots==0.0.15
types-python-dateutil==2.9.0.20240316
typing-extensions==4.12.2
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.2
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.11
xgboost==2.1.0
xlrd==2.0.1
xmltodict==0.13.0
yarl==1.9.4
zict==3.0.0
zipp==3.19.2
